body {
    background-color: cornsilk;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}

.marker {
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
    height: 25px;
    width: 200px;
    text-align: end;
    padding-right: 20px;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
  }
  
.marker span {
    position: relative;
    height: 25px;
    width: 200px;
    z-index: 12;
    text-align: end;
    padding-right: 20px;
    font-weight: 500;
}

.marker::before {
    content: "";
    position: absolute;
    left: 62px;
    height: 25px;
    width: 4px;
    border-left: 3px solid hsla(0, 0%, 13%, 1);
    border-right: 3px solid hsla(0, 0%, 13%, 1);
    z-index: 11;
}

.marker::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 117px;
    background-color: hsl(0, 0%, 100%, 0.55);
    box-shadow: 0 0 0.5px hsl(0, 0%, 100%, 0.55);
    z-index: 10;
    padding-right: 5px;
    right: 16px;
    top: 0;
}

.red {
    background-color: red;
    box-shadow: 0 0 15px red;
}

.salmon {
    background-color: salmon;
    box-shadow: 0 0 15px salmon;
}

.maroon {
    background-color: maroon;
    box-shadow: 0 0 15px maroon;
}

.crimson {
    background-color: crimson;
    box-shadow: 0 0 15px crimson;
}

.pink {
    background-color: pink;
    box-shadow: 0 0 15px pink;
}

.hotpink {
    background-color: hotpink;
    box-shadow: 0 0 15px hotpink;
}

.deeppink {
    background-color: deeppink;
    box-shadow: 0 0 15px deeppink;
}

.orange {
    background-color: orange;
    box-shadow: 0 0 15px orange;
}

.tomato {
    background-color: tomato;
    box-shadow: 0 0 15px tomato;
}

.green {
    background-color: green;
    box-shadow: 0 0 15px green;
}

.lime {
    background-color: lime;
    box-shadow: 0 0 15px lime;
}

.palegreen {
    background-color: palegreen;
    box-shadow: 0 0 15px palegreen;
}

.teal {
    background-color: teal;
    box-shadow: 0 0 15px teal;
}

.blue {
    background-color: blue;
    box-shadow: 0 0 15px blue;
}

.navy {
    background-color: navy;
    box-shadow: 0 0 15px navy;
}

.skyblue {
    background-color: skyblue;
    box-shadow: 0 0 15px skyblue;
}

.cyan {
    background-color: cyan;
    box-shadow: 0 0 15px cyan;
}

.aquamarine {
    background-color: aquamarine;
    box-shadow: 0 0 15px aquamarine;
}

.turquoise {
    background-color: turquoise;
    box-shadow: 0 0 15px turquoise;
}

.yellow {
    background-color: yellow;
    box-shadow: 0 0 15px yellow;
}

.gold {
    background-color: gold;
    box-shadow: 0 0 15px gold;
}

.peachpuff {
    background-color: peachpuff;
    box-shadow: 0 0 15px peachpuff;
}

.khaki {
    background-color: khaki;
    box-shadow: 0 0 15px khaki;
}

.purple {
    background-color: purple;
    box-shadow: 0 0 15px purple;
}

.lavender {
    background-color: lavender;
    box-shadow: 0 0 15px lavender;
}

.magenta {
    background-color: magenta;
    box-shadow: 0 0 15px magenta;
}

.gray {
    background-color: gray;
    box-shadow: 0 0 15px gray;
}

.slategray {
    background-color: slategray;
    box-shadow: 0 0 15px slategray;
}

.dimgray {
    background-color: dimgray;
    box-shadow: 0 0 15px dimgray;
}

.black {
    background-color: black;
    box-shadow: 0 0 15px black;
}

